<div class="a">
  <div>
    <h4><b>Trends of Production vs Target</b></h4>
  </div>

  <div class="chart-wrap">
    <canvas id="powerVsProd" class="canvas250h"></canvas>
  </div>
</div>
<div class="a2">
  <div class="b">
    <p>Production rate > 80%</p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OEE
      > 80%
    </p>
    <p>&nbsp;Downtine >> Average</p>
    <p>&nbsp;Machine 6</p>
    <p>&nbsp;Machine 10</p>
    <p>&nbsp;Machine 17</p>
  </div>
  <div class="c">
    <p>Production rate > 70%</p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OEE
      > 70%
    </p>
    <p>&nbsp;Downtine >> Average</p>
    <p>&nbsp;Machine 3</p>
    <p>&nbsp;Machine 13</p>
    <p>&nbsp;Machine 7</p>
  </div>
  <div class="d">
    <p>Production rate > 60%</p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OEE
      > 60%
    </p>
    <p>&nbsp;Downtine >> Average</p>
    <p>&nbsp;Machine 3</p>
    <p>&nbsp;Machine 13</p>
    <p>&nbsp;Machine 7</p>
  </div>
  <div class="e">
    <p>Production rate > 50%</p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OEE
      > 50%
    </p>
    <p>&nbsp;Downtine >> Average</p>
    <p>&nbsp;Machine 3</p>
    <p>&nbsp;Machine 13</p>
    <p>&nbsp;Machine 7</p>
  </div>
</div>
<div class="aa">
  <div class="col-md-12 col-lg-6 col-xl-4">
    <div class="card card-same-body card-same-height">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col col-md-6 col-lg-8">
            <h4><b>Trends of Downtime</b></h4>
          </div>
          <div class="col col-md-6 col-lg-4"></div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrap">
          <canvas id="trend" class="canvas250h2"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bb">
  <div class="card-body">
    <div class="chart-wrap">
      <p><b>Achivement rate</b> :<span class="text-success">84%</span></p>
      <hr />
      <div class="progress">
        <div
          class="progress-bar-animated progress-bar-striped bg-success"
          role="progressbar"
          style="width: 84%;"
          aria-valuenow="84"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="posi-rel">
        <canvas id="achivementVsTarget" class="canvas240h"> </canvas>
      </div>
    </div>
  </div>
</div>

<div class="cc">
  <div class="ca">
    <div class="chart-wrap">
      <p class="blue">
        <b>Downtime & causes</b> :<span class="text-success"></span>
      </p>
    </div>
    <hr />
    <p>
      Downtime :
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Top
      Causes :
    </p>
    <p>
      2.5 Hours
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      1.Operater Missing
    </p>
    <hr />
    <div class="posi-rel">
      <canvas id="achivementVsTarget2" class="canvas240h"> </canvas>
    </div>
  </div>
</div>
