<br />
<div class="a">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Last View
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Running : 14 &nbsp;&nbsp;&nbsp;&nbsp;OFF : 04 &nbsp;&nbsp;&nbsp;&nbsp; Idle :
  02 &nbsp;&nbsp;&nbsp;&nbsp; Maintenance : 01
</div>
<br />
<div class="b">
  &nbsp; Daily Statistics (Last 14 days)
  <hr />
  <div class="card card-same-body">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col col-md-6">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <h4><b></b></h4>
        </div>
        <div class="col col-md-6">
          <div class="form-group form-group-filer"></div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="chart-wrap">
        <canvas id="monthlyMonitoringChart" class="canvas510h"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="c">
  <table id="t01">
    <tr>
      <th colspan="2">Haas CNC -01: Running</th>
    </tr>
    <tr>
      <td>Uptime</td>
      <td>8:12:34</td>
    </tr>
    <tr>
      <td>Availability</td>
      <td>75%</td>
    </tr>
    <tr>
      <td>Total's Job Count:</td>
      <td>1hr</td>
    </tr>
    <tr>
      <td>DeadTimes:</td>
      <td>1hr</td>
    </tr>

    <tr>
      <td>Health:</td>
      <td>Normal</td>
    </tr>
  </table>
</div>
<div class="d">
  <table id="t02">
    <tr>
      <th colspan="2">Haas CNC -02: OFF</th>
    </tr>
    <tr>
      <td>Uptime</td>
      <td>8:12:34</td>
    </tr>
    <tr>
      <td>Availability</td>
      <td>75%</td>
    </tr>
    <tr>
      <td>Total's Job Count:</td>
      <td>120</td>
    </tr>
    <tr>
      <td>DeadTimes:</td>
      <td>1hr</td>
    </tr>

    <tr>
      <td>Health:</td>
      <td>Normal</td>
    </tr>
  </table>
</div>
<div class="c">
  <table id="t03">
    <tr>
      <th colspan="2">Haas CNC -03: Idle</th>
    </tr>
    <tr>
      <td>Uptime</td>
      <td>8:12:34</td>
    </tr>
    <tr>
      <td>Availability</td>
      <td>75%</td>
    </tr>
    <tr>
      <td>Total's Job Count:</td>
      <td>120</td>
    </tr>
    <tr>
      <td>DeadTimes:</td>
      <td>1hr</td>
    </tr>

    <tr>
      <td>Health:</td>
      <td>Normal</td>
    </tr>
  </table>
</div>
<div class="d">
  <table id="t04">
    <tr>
      <th colspan="2">Haas CNC -02: OFF</th>
    </tr>
    <tr>
      <td>Uptime</td>
      <td>8:12:34</td>
    </tr>
    <tr>
      <td>Availability</td>
      <td>75%</td>
    </tr>
    <tr>
      <td>Total's Job Count:</td>
      <td>120</td>
    </tr>
    <tr>
      <td>DeadTimes:</td>
      <td>1hr</td>
    </tr>

    <tr>
      <td>Health:</td>
      <td>Normal</td>
    </tr>
  </table>
</div>
