<div class="a" >
    &nbsp;&nbsp;
    <button class='a' routerLink="/dashboardmain" routerLinkActive="active">   &nbsp;&nbsp;&nbsp;&nbsp; Dashboard   &nbsp;&nbsp;&nbsp;&nbsp; </button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class='b'>  &nbsp;&nbsp;&nbsp;&nbsp;  Mchines     &nbsp;&nbsp;&nbsp;&nbsp; </button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class='c'>  &nbsp;&nbsp;&nbsp;&nbsp;  Settings    &nbsp;&nbsp;&nbsp;&nbsp; </button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class='d'>  &nbsp;&nbsp;&nbsp;&nbsp;  Help        &nbsp;&nbsp;&nbsp;&nbsp; </button>&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    <br>
   
  </div>
  <div class="b">
   &nbsp;&nbsp;
    </div>
    <br>
    <div class="c">
        <button class='aa' routerLink="/productionrate" routerLinkActive="active">Production & Achievement Rate</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class='bb' routerLink="/oee" routerLinkActive="active">OEE</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class='cc' routerLink="/machinestatus" routerLinkActive="active">Machine Status</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class='dd' routerLink="/downtime" routerLinkActive="active">Downtime</button>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

  <router-outlet></router-outlet>