<div class="a">
  <div class="col-md-12 col-lg-6 col-xl-4">
    <div class="card card-same-body card-same-height">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col col-md-6 col-lg-8">
            <h4>
              <b
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="grey"> 1W </span>&nbsp;&nbsp;<span class="grey"> 15D </span>
                &nbsp;&nbsp;<span class="grey"> 1M </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Trend of OEE</b
              >
            </h4>
          </div>
          <div class="col col-md-6 col-lg-4"></div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wraps">
          <canvas id="powerVsProd" class="canvas250h"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="b">
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OEE
    Individual Machine
  </p>
  <canvas id="downtime" class="downtimeh"></canvas>
</div>
<div class="c">
  <br /><button class="b01">Top 5</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="b02">OEE</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="b03">Availability</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="b04">Rejection</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="b05">Productivity</button>
<br />
<table id="t01">
  <tr>
    <th>Machine &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>OEE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th> 
    <th>Availability&nbsp;&nbsp;&nbsp;&nbsp;</th>
  </tr>
  <tr>
    <td>Machine 6</td>
    <td>89%</td>
    <td>80%</td>
  </tr>
  <tr>
    <td>Machine 18%</td>
    <td>78%</td>
    <td>68%</td>
  </tr>
  <tr>
    <td> &nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

</div>
<div class="d">
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="card card-same-body">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col col-md-6">
              <br />
              &nbsp;&nbsp;&nbsp;&nbsp;<select id="box8">
                <option>March</option>
                <option>April</option>
                <option>January</option>
                <option>February</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
              </select>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              OEE
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="chart-wrap">
      <canvas id="monitoringChart" class="canvas220h"></canvas>
    </div>
  </div>
</div>
