<div class="a">
  <div class="col-md-12 col-lg-6 col-xl-4">
    <div class="card card-same-body card-same-height">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col col-md-6 col-lg-8">
            <h4>
              <b
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="grey"> 1W </span> &nbsp;&nbsp;<span class="grey"> 15D </span> 
                &nbsp;&nbsp;<span class="grey"> 1M </span> &nbsp;&nbsp;&nbsp; Trend on DownTime</b
              >
            </h4>
          </div>
          <div class="col col-md-6 col-lg-4"></div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrap">
          <canvas id="powerVsProd" class="canvas250h"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="b">
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Downtime
    Individual Machine
  </p>
  <canvas id="downtime" class="downtimeh"></canvas>
</div>
<div class="c">
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp; Downtime
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <select id="box">
    <option>Montly</option>
    <option>Yearly</option>
    <option>Daily</option>
  </select>
  <hr />
  <table id="t01">
    <br />
    <thead>
      <tr>
        <th>
          Technical Issues:
          <span class="text-info ml5"
            >(23)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          >
        </th>
        <th>
          Operator Issues:
          <span class="text-info ml5"
            >(38)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          >
        </th>
        <th>Power Issues: <span class="text-info ml5">(2)</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Breakdown</td>
        <td>Absent</td>
        <td>No Power</td>
      </tr>
      <tr>
        <td>Setup</td>
        <td>Launch</td>
        <td>-</td>
      </tr>
      <tr>
        <td>No Load</td>
        <td>Water</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Gauge not available</td>
        <td>Personal Need</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Cleaning</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d">
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="card card-same-body">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col col-md-6">
              <br />
              &nbsp;&nbsp;&nbsp;&nbsp;<select id="box8">
                <option>March</option>
                <option>April</option>
                <option>January</option>
                <option>February</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
              </select>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Downtime
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="chart-wrap">
      <canvas id="monitoringChart" class="canvas220h"></canvas>
    </div>
  </div>
</div>
